body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: aqua;
}

.container{
    text-align: center;
    background-color: blue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0, 0, 0, 0.1;
}

form{
    margin-bottom: 20px;

}

.oculto{
    display: none;
}